.product-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
    border-radius: 15px;
    height: 400px;
    align-items: center;
    row-gap: 10px;

}

.product-image-section{
    flex: 2fr;
    /*margin-bottom: 50px;*/
}

.image-button{
    border: none;
    background-color: transparent;
}

.image-button{
    
}

.product-image{
    width: 300px;
}

.product-details{
    flex: 1fr;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.product-name{
    flex: 1fr;
    width: 330px;
}

.select-qantity{
    flex: 1fr;
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}

.add-order-to-list{
    flex: 1fr;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-to-chart-update{
    flex: 1fr;
    color: green;
    font-weight: bolder;
}

.qantity-section{
    flex: 1fr;
}

.qantity-selection{
    background-color: transparent;

}


.add-to-chart-button{
    flex: 1fr;
    background-color: rgb(246, 139, 30);
    color: white;
    padding: 10px 150px;
    font-weight: bolder;
    border:  1px solid rgb(246, 139, 30);
    font-size: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    cursor: pointer;
}